/* selecteur avec propriété class avec un '.' et id avec un '#' */
p, h1
{
    color: white;
    font-size: xx-large;
    text-align: center;
    /*border: 5px red solid;*/
    background-color: black;
    box-shadow: 6px 6px 0px black;
}

em 
{
    color: red;
}

.MaClass 
{
    color: purple;
}

#lol
{
    color: white;
}

#verine 
{
    float: left;
}

.dessous
{
    clear: both;
}